
<%= simple_form_for(@page) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <p>
      <strong>Cover</strong>
      <br />
      <%= f.file_field :cover %>
    </p>
    <%= f.input :title %>
    <%= f.input :description %>
    <br />
    <p>
      <strong>Content</strong>
    </p>
    <%= f.text_area :content, :class => "tinymce", :rows => 40, :cols => 120 %>
    <%= f.input :slug %>
    <br />
    <p>
      <strong>Platz tauschen mit: </strong>
    </p>
    <%#= f.input :order, label: false %>
    <%= f.input :order, label: false, as: :select, collection: Page.all.order(:order).map { |n| [n.title, n.order]} %>
    <br />
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<%= tinymce_assets %>
<%= tinymce %>
